
<div *ngIf="collaborator">
  <h2 *ngIf="!creation">Détails de {{collaborator.name}}!</h2>
  <h2 *ngIf="creation">Création d'un nouveau collaborateur</h2>
  <div>
    <div class= "form-element">
      <label>Id: </label>{{collaborator.id}}</div>
    <div class= "form-element">
      <label for="collab-name">Nom: </label>
      <input id="collab-name" [(ngModel)]="collaborator.name" placeholder="name" />
    </div>
    <div class= "form-element">
      <label for="collab-surname">Prénom: </label>
      <input id="collab-surname" [(ngModel)]="collaborator.surname" placeholder="surname" />
    </div>
    <div class= "form-element">
      <viseo-competences [collaborator]="collaborator"></viseo-competences>
    </div>
  </div>
  <button *ngIf="creation" (click)="onCreate(collaborator)">Créer</button>
</div>
